<h3>Angular quiz!</h3> <br>
{{ data }}
<div class="card mb-3" *ngFor="let quiz_data of data">  
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Previous</a>
    <a href="#" class="card-link">Next</a>
  </div>
  <div class="card-footer text-muted text-right">
    Question 1
  </div>
</div>